.download-container {
  margin-top: var(--gap-xxl);
  text-align: center;
  margin-inline: var(--gap);
}
h3 {
  color: var(--neutral-dark-blue);
  font-size: var(--step-2);
}

.download-content p {
  color: var(--neutral-blue);
  margin-top: var(--gap);
  max-width: 50ch;
  margin-inline: auto;
}
.card-container {
  margin-top: var(--gap-xl);
  max-width: 50ch;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: var(--gap-l);
}
@media (min-width: 55em) {
  .card-container {
    --displacement: 2em;
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
  }
}
